.create-container {
    max-width: 800px;
    padding: 30px;
    margin: 0 auto; 
    background-color: #f3f0eb; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-top: 130px; /* change this margin to adjust where the edit box sits on the screen compared to the nav bar */
    border-radius: 5px;
    color: #604c3e;
  }

  .recipe-form {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
  }

  .form-group.double {
    display: flex;
    gap: 20px;
  }

  .difficulty-select, .category-select {
    flex: 1;
  }

  label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
  }

  input[type="text"],
  input[type="number"],
  textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
  }

  .time-input {
    display: flex;
    gap: 10px;
  }

  .submit-button {
    background-color: #8b6b61;
    color: #fff;
    padding: 10px 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s;
  }

  .submit-button:hover {
    background-color: #d2b396; 
  }

  .select-button {
    width: 100%; 
    padding: 10px;
    border: 1px solid #ddd; 
    border-radius: 5px; 
    cursor: pointer;
  }

  .select-button:hover {
    background-color: #2980b9;
  }
  
  .ingredient-item {
    display: flex;
    gap: 10px;
    margin-bottom: 10px;
  }
  
  .ingredient-item button {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .ingredient-item input[type="text"] {
    flex-grow: 1;
  }