{%extends "base.html"%}{%block content%}
<form action="POST"></form>
<div class="about-container">
  <h1>Meet the Team!</h1>

  <div class="employees"></div>
  <div class="employee-card">
    <img
      class="profile-image"
      src="../static/Images/profile.jpeg"
      alt="Employee 1"
    />
    <h2>Andres Angel</h2>
    <p>Ux/UI</p>
  </div>

  <div class="employee-card">
    <img
      class="profile-image"
      src="../static/Images/profile.jpeg"
      alt="Employee 2"
    />
    <h2>Brianna Black</h2>
    <p>Engineering Manager, UX/UI</p>
  </div>

  <div class="employee-card">
    <img
      class="profile-image"
      src="../static/Images/profile.jpeg"
      alt="Employee 3"
    />
    <h2>Andres Cavalie</h2>
    <p>Software Architect, Scrum Master</p>
  </div>

  <div class="employee-card">
    <img
      class="profile-image"
      src="../static/Images/profile.jpeg"
      alt="Employee 4"
    />
    <h2>Ethan Craig</h2>
    <p>Backend Engineer, QA Engineer</p>
  </div>

  <div class="employee-card">
    <img
      class="profile-image"
      src="../static/Images/profile.jpeg"
      alt="Employee 5"
    />
    <h2>Daniel Duggin</h2>
    <p>Position: UX/UI, POC</p>
  </div>
</div>

<link rel="stylesheet" href="../static/about.css" />
{%endblock%}
