<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="../static/styles.css" />
  </head>
  <body>
    <script
      src="../static/index.js"
      type="text/javascript"
      charset="utf-8"
    ></script>
    <header id="top">
      <nav>
        <ul>
          <li><a href="/home">Culinary Canvas</a></li>
          <li><a href="/about">About Us</a></li>
          <li><a href="/favorites">Favorites</a></li>
          <li><a href="/create">Create</a></li>
          <li class="profile-icon">
            <a href="/profile"
              ><img
                src="../static/Images/profile.jpeg"
                alt="profile-icon"
                style="
                  background-size: cover;
                  width: 40px;
                  height: 40px;
                  border-radius: 50%;
                  display: inline-block;
                  vertical-align: middle;
                  margin-left: 10px;
                "
            /></a>
          </li>
          <li><a href="/logout">Logout</a></li>
        </ul>
      </nav>
    </header>
    {% include "flashmessage.html" %}
    <div>{%block content%} {%endblock%}</div>
  </body>
</html>
