{%extends "base.html"%} {% block content %}
<link rel="stylesheet" href="../static/edit.css">
<div class="create-container">
  <h2>Edit Recipe</h2>
  <form method="POST" action="/edit/{{ recipe.id }}" class="edit-recipe-form">
    <div class="form-group">
      <label for="name">Recipe Name:</label>
      <input type="text" id="name" name="name" required value="{{ recipe.name }}" />
    </div>
    <div class="form-group">
      <label for="instructions">Instructions (separated by '|'): </label>
      <textarea
        id="instructions"
        name="instructions"
        rows="4"
        cols="50"
        required
      >
{{recipe.instructions}}</textarea
      >
    </div>

    <div class="form-group">
      <label for="time_to_make">Time to Make:</label>
      <div class="time-input">
        <input
          type="number"
          id="hours_to_make"
          name="hours_to_make"
          value="{{recipe.hours}}"
          placeholder="Hours"
          min="0"
          oninput="validity.valid||(value='');"  
        />
        <input
        type="number"
        id="minutes_to_make"
        name="minutes_to_make"
        value="{{recipe.minutes}}"
        placeholder="Minutes"
        min="0" max="59"
        oninput="validity.valid||(value='');"
      />
      </div>
    </div>
    

    <div class="form-group">
      <label for="calories">Calories:</label>
      <input
        type="number"
        id="calories"
        name="calories"
        value="{{recipe.calories}}"
      />
    </div>

    <div class="form-group">
      <label for="description">Description:</label>
      <textarea id="description" name="description" rows="4" cols="50">
{{recipe.description}}</textarea
      >
    </div>

    <div class="form-group">
      <label for="image">Image URL:</label>
      <input type="text" id="image" name="image" value="{{recipe.image}}" />
    </div>

    <div class="form-group">
      <label for="ingredients">Ingredients (separated by '|'): </label>
      <textarea id="ingredients" name="ingredients" rows="4" cols="50" required>
{{recipe.ingredients}}</textarea
      >
    </div>

    <div class="form-group">
      <label for="category_id">Category ID:</label>
      <input
        type="number"
        id="category_id"
        name="category_id"
        value="{{recipe.category_id}}"
      />
    </div>

    <div class="form-group">
      <label for="difficulty">Difficulty ID:</label>
      <input type="number" id="difficulty_id" name="difficulty_id" value="{{ recipe.difficulty_id }}" />
    </div>
    <button type="submit" class="submit-button">Update Recipe</button>
  </form>
</div>
{%endblock%}
